.MuiSvgIcon-root {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.file-upload::after {
  border: 0px !important;
}

.MuiTimelineOppositeContent-root {
  flex: 0 !important;
}
