@import url("https://cdn.syncfusion.com/ej2/material.css");

* {
  font-family: Open Sans;
}

.e-title {
  font-weight: 600 !important;
}

.e-selected .e-day {
  background-color: #11a1ef !important;
  box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

.e-day {
  border-color: #11a1ef !important;
}

.e-today,
.e-today:hover {
  color: #3f51b5 !important;
}

.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  color: #3f51b5;
}

.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  border: 1px solid #3f51b5;
}

.e-calendar .e-content span.e-day,
.e-bigger.e-small .e-calendar .e-content span.e-day {
  font-size: 18px;
}

.e-calendar .e-content th,
.e-calendar .e-content td,
.e-bigger.e-small .e-calendar .e-content th,
.e-bigger.e-small .e-calendar .e-content td {
  font-size: 18px;
}

.e-title {
  font-size: 20px !important;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  font-size: 18px;
}

.e-calendar,
.e-bigger.e-small .e-calendar {
  min-width: 290px;
}

.e-calendar {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
  border: 0 !important;
  border-radius: 0.375rem !important;
  height: 340px !important;
}

.e-btn {
  /* background-color: #11b0ef !important; */
}
.e-btn:hover {
  background-color: #b3e1f3 !important;
}
.e-btn:focus {
  background-color: white !important;
}

.e-btn.e-flat.e-primary:hover,
.e-css.e-btn.e-flat.e-primary:hover {
  background-color: #b3e1f3 !important;
}
